.price-section {
    display: flex;
    justify-content: center;
    padding: 90px 0;
    background: white;


    .price-container {
        max-width: 1200px;
        width: 100%;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table,
    th,
    tr,
    td {
        overflow-x: auto;
        border: 1px solid #f8f5f0;
        border-collapse: collapse;
    }

    td {
        border: 1px solid #f8f5f0;
        padding: 10px;

        b {
            font-weight: 400;
            color: #80CC82;
        }
    }


}