 @font-face {
    font-family: Mon;
    src: url('../../asstes/fonts/Montserrat-VariableFont_wght.ttf');
 }
 .item {

    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    max-width: 47%;
    padding: 15px;
   
}



.item .con h6 >a {
    position: relative;
    color: #fff;
    font-size: 15px;
    font-family:Mon;
    display: inline;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
.item h5> a {
    font-family:Mon;
    position: relative;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}
.line {
    text-align: center;
    height: 1px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin: auto 0 30px;
}
.item:hover .line {
   width: 100%;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }
  
  .image-container img {
    transition: transform 0.3s, filter 0.3s;
    width: 100%;
    height: auto;
  }
  
  /* .image-container:hover img {
    transform: scale(1.1);
    filter: brightness(70%);
  } */
  .permalink a{
    color: #fff;
    text-align: right;
    text-decoration: none;
    font-family:Mon ;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
  }
  .category {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    writing-mode: vertical-rl;
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    text-orientation: mixed;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.5);
    font-family: 'Jost', sans-serif;
    padding: 10px 3px;
    line-height: 1.5em;
}

.con {
    padding: 20px;
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: left;
    z-index: 20;
    height: auto;
}
.item:hover .con {
    bottom: 0;
}
.item:hover img {
    transform: scale(1.1);
    filter: brightness(70%);
  }
.bahur{
    display: flex;
}
.rowItem{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bb{
    display: flex;
    justify-content: center;
    align-items: center;
}
.facilities ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
.facilities ul li {
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2em;
    padding-bottom: 20px;
    float: left;
    margin-left: 24px
}
.facilities ul li >*{
    color: #fff;
    font-size: 18px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.col-md-7 {
    display: flex;
    width: 50%;
}

.pow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pow-col {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.room-item-container{
    padding: 120px 0;
    background-color :rgb(248, 245, 240)
}