@use '../../asstes/css/variables.scss' as helpers;
.right-side-pointers{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.left-side-pointers{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.homepage-container {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10%;

  .what-we-do {
    flex-direction: column;
    display: flex;

    img {
      width: 23px;
    }

    .butn-dark {
      margin-top: 78px;
    }
  }
  .mainTitle {
    font-size: 90px;
    line-height: 90px;
    font-weight: 900;
    color: helpers.$blackColor;

  }
  >div {
    width: 100%;
    color: helpers.$blackColor;
    display: flex;
    flex-direction: column;

    >p {
      display: flex;
    }

    .heart {
      width: 60px;
      align-self: flex-end;
    }

    h4 {
      text-transform: uppercase;
      font-weight: 900;
      display: flex;
    }

   

    .tiktok {
      font-size: 110px;
      line-height: 110px;

    }


    >div {
      display: flex;

      h6 {
        font-size: 27px;
        margin-right: 10px;
      }
    }
  }

  img {
    width: 50%;
  }
}

.home-page-more-container {
  padding: 0 10%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.home-page-more {
  font-size: 28px;

  >strong {
    margin-right: 10px;
  }
}

.why-tiktok {
  background-color: helpers.$pinkColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10% 80px;

  h1 {
    font-size: 110px;
    color: #FFFBFB;
    text-transform: uppercase;
    font-weight: 900;

    strong {
      color: #DDE468;
      font-weight: 900;

    }
  }

  .why-tiktok-inner-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .why-tiktok-righ-side {
      width: 46%;
      display: flex;
      flex-direction: column;
      align-items: end;

      p {
        color: #FFFBFB;
        text-align: end;
        font-size: 20px;
      }
    }

    img {
      width: 24%;
      height: fit-content;
    }

    h3 {
      font-size: 58px;
      color: #FFFBFB;
      font-weight: 800;

      strong {
        color: #DDE468;
      }
    }
  }
}

.short-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10%;
  background-color: #FFFBFB;

  h1 {
    color: #DDE468;
    font-size: 110px;
    font-weight: 900;
  }

  h3 {
    color: #37343A;
    font-size: 30px;
  }

  .short-form-relative {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;

    .short-form-img {
      width: 19%;
    }

    .short-form-video {
      width: 24%;

      img {
        width: 100%;
      }
    }

    .poiners {
      display: flex;
      align-items: center;

   

      .stick {
        width: 130px;
        height: 3px;
        background: helpers.$pinkColor;
      }

      .ring {
        width: 40px;
        height: 40px;
        background: helpers.$pinkColor;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFBFB;
      }

      h5 {
        font-size: 25px;
        color: #37343A;
      }
    }
  }
}

.round-bottom {
  border-bottom-left-radius: 50% 150px !important;
  border-bottom-right-radius: 50% 150px !important;
  width: 100%;
  background-color: #FFFBFB;
  height: 90px;
}

.container-shape {
  width: 100%;
  height: 100px;
  padding-bottom: 50px;
  overflow: hidden;
  background-color: helpers.$pinkColor;
}

.home-services {
  padding: 80px 10%;

  &-title {
    display: flex;
    align-items: center;

    img {
      width: 84px;
      height: 84px;
    }

    h1 {
      font-size: 110px;
      color: #37343A;
      font-weight: 900;
    }
  }

  &-main-container {
    display: flex;
    justify-content: center;
    width: 100%;

    >div {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        text-align: center;
        font-size: 20px;
      }

      h6 {
        font-size: 28px;
        color: #37343A;
      }

      .spacer {
        height: 40px;
        width: 2px;
        background-color: helpers.$pinkColor;
        margin: 10px 0;
      }

      .spacer-yellow {
        height: 40px;
        width: 2px;
        background-color: #DDE468;
        margin: 10px 0;
      }

      .big-yellow {
        width: 13vw;
        height: 13vw;
        background-color: #f1f2c1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;

        .small-yellow {
          width: 75%;
          height: 75%;
          border-radius: 100%;
          background-color: #DDE468;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .big-pink {
        width: 13vw;
        height: 13vw;
        background-color: #fdb2ca;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;

        .small-pink {
          width: 75%;
          height: 75%;
          border-radius: 100%;
          background-color: helpers.$pinkColor;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .lamp {
        width: 50%;
      }
    }
  }
}
.why-social-media{
  padding: 80px 10%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  >h4{
    font-size: 57px;
    color: #37343A;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      font-size: 100px;
      font-weight: 900;
      color: helpers.$pinkColor;
      margin-left: 10px
    }
  }
  p{
    text-align: center;
  }
  img{
    width: 68%;
  }
}
.home-page-banner{
  background-color: #DDE468;
  padding:10px 10%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      font-size: 110px;
      line-height: 110px;
      color: #FFFBFB;
    }
    h3{
      font-size: 50px;
      line-height: 50px;
      color: #37343A;
    }
  }
}
.home-page-brands{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  .brands-title{
    display: flex;
    align-items: baseline;
    color: #37343A;
    h1{
      font-size: 90px;
      font-weight: 900;
    }
    h3{
      font-size: 50px;
      font-weight: 400;
    }
  }
}
.home-page-results{
  padding:10px 10%;
  height: 578px;
  background-color: helpers.$pinkColor;
  margin-bottom: 200px;
  .home-page-results-title{
    display: flex;
    align-items: baseline;
    img{
     width: 5vw;
     height: 5vw;
    }
    h1{
      font-size: 90px;
      font-weight: 800;
      line-height: 90px;
      color: #FFFBFB;
      margin-right: 20px;
    }
    h3{
      font-size: 57px;
      line-height: 57px;
      color: #DDE468;
    }
  }
  .video-container{
    display: flex;
    justify-content: space-between;
    >video{
      width: 22%;
    }
  }
}
@media (max-width: 1750px) {
  .homepage-container {
    .mainTitle {
      font-size: 70px;
      line-height: 70px;
    }
    >div {
      .tiktok {
        font-size: 80px;
        line-height: 80px;
      }
    }
  }

  .why-tiktok {
    h1 {
      font-size: 80px;
      color: #FFFBFB;
      text-transform: uppercase;
      font-weight: 900;

      strong {
        color: #DDE468;
        font-weight: 900;

      }
    }

    .why-tiktok-inner-container {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .why-tiktok-righ-side {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: end;

        p {
          font-size: 18px;
        }

        h3 {
          font-size: 48px;
        }
      }
    }
  }

  .short-form-container {
    h1 {
      font-size: 80px;
    }

    h3 {
      font-size: 24px;
    }
  }

  .home-services-title h1 {
    font-size: 80px;
  }

  .home-services-title img {
    width: 54px;
    height: 54px;
  }

  .home-services-main-container>div h6 {
    font-size: 24px;
  }

  .home-services-main-container>div p {
    text-align: center;
    font-size: 18px;
  }
  .why-social-media > h4 h1 {
    font-size: 80px;
  }
  .home-page-banner > div h1 {
    font-size: 80px;
    line-height: 80px;
  }
  .home-page-banner > div h3 {
    font-size: 47px;
    line-height: 47px;
  }
  .home-page-results .home-page-results-title h1 {
    font-size: 70px;
  }
}

@media (max-width: 1350px) {
  .homepage-container {
    .mainTitle {
      font-size: 50px;
      line-height: 50px;
    }
    >div {
      .tiktok {
        font-size: 60px;
        line-height: 60px;
      }
    }
  }

  .why-tiktok {
    h1 {
      font-size: 60px;
      color: #FFFBFB;
      text-transform: uppercase;
      font-weight: 900;

      strong {
        color: #DDE468;
        font-weight: 900;

      }
    }

    .why-tiktok-inner-container {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .why-tiktok-righ-side {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: end;

        p {
          font-size: 16px;
        }

        h3 {
          font-size: 38px;
        }
      }
    }
  }

  .home-page-more {
    font-size: 18px;

    >strong {
      margin-right: 10px;
    }
  }

  .short-form-container {
    h1 {
      font-size: 60px;
      text-align: center;
    }

    h3 {
      font-size: 20px;
      text-align: center;
    }
  }

  .home-services-title h1 {
    font-size: 60px;
  }

  .home-services-title img {
    width: 44px;
    height: 44px;
  }

  .home-services-main-container>div h6 {
    font-size: 22px;
  }

  .home-services-main-container>div p {
    text-align: center;
    font-size: 16px;
  }
  .why-social-media > h4 h1 {
    font-size: 60px;
  }
  .why-social-media > h4 {
    font-size: 37px;
  }
  .home-page-banner > div h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .home-page-banner > div h3 {
    font-size: 37px;
    line-height: 37px;
  }
  .home-page-results .home-page-results-title h1 {
    font-size: 50px;
  }
  .home-page-results .home-page-results-title h3 {
    font-size: 37px;
  }
}

@media (max-width: 1555px) {
  .short-form-container .short-form-relative .poiners h5 {
    font-size: 17px;
  }
}
@media (max-width: 1000px) {
  .homepage-container {
    .ima-mqsto{
      flex-direction: row;
      h6{
        font-size: 27px;
    margin-right: 10px
      }
        }

  }
  .homepage-container img {
    width: 100%;
}
.homepage-container .mainTitle {
  font-size: 45px;
  line-height: 50px;
}
.homepage-container > div .tiktok {
  font-size: 50px;
  line-height: 60px;
}
.homepage-container .what-we-do .butn-dark {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.home-page-more-container {
  padding: 0 5%;
  display: flex;
  width: 100%;
  justify-content: center;
}
.home-page-more {
  font-size: 14px;
  text-align: center;
}
.why-tiktok h1 {
  font-size: 40px;
  color: #FFFBFB;
  text-transform: uppercase;
  font-weight: 900;
}
.why-tiktok .why-tiktok-inner-container {
  flex-direction: column;
  align-items: center;
}
.why-tiktok .why-tiktok-inner-container img {
  width: 60%;
}
.why-tiktok .why-tiktok-inner-container .why-tiktok-righ-side {
  align-items: center;
}
.why-tiktok .why-tiktok-inner-container .why-tiktok-righ-side p {
  text-align: center;
}
.short-form-container .short-form-relative .poiners .stick {
  width: 2vw;
 
}
.short-form-container h1 {
  font-size: 50px;
}

}
@media (max-width: 480px) {
  .homepage-container .mainTitle {
    font-size: 30px;
    line-height: 30px;
}
  .homepage-container > div .tiktok {
    font-size: 40px;
    line-height: 40px;
  }  
  .homepage-container .ima-mqsto h6 {
    font-size: 20px;
    margin-right: 10px;
}
.why-tiktok h1 {
  font-size: 40px;
  color: #FFFBFB;
  text-transform: uppercase;
  font-weight: 900;
}
}
@media (max-width: 430px) {
  .why-tiktok h1 {
    font-size: 30px;
    color: #FFFBFB;
    text-transform: uppercase;
    font-weight: 900;
  }

}
@media (max-width: 750px) {
  .short-form-container .short-form-relative .short-form-video {
    width: 50%;
    }
  .short-form-container .short-form-relative .poiners {
    .ring {
    
      background: helpers.$pinkColor;
      color: #FFFBFB;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 9px;
    }

    h5 {
      font-size: 10px;
      color: #37343A;
      max-width: 77%;
      
    }
  }
  .short-form-container h1 {
    font-size: 25px;
    text-align: center;
  }

  .short-form-container {
    padding: 0 5%;
  }
  .left-side-pointers {
    gap: 5vw;
    h5{
      font-size: 9px;
      text-align: end;
    }
  }
  .right-side-pointers {
    gap: 8vw;
    h5{
      font-size: 9px;
      
    }
  }
}
